<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>    
    <%= f.text_area :body ,class: "form-control", rows: "3",placeholder: "Input your comment here..." %>
  </p>
  <p>
    <%= f.submit "Post", class: "btn btn-primary btn-slg"%>
  </p>
<% end %>