<%= provide(:title, @user.name) %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'shared/user-info' %>
    </div>
    <div class="col-md-8"> 
      <%= render 'shared/microposts' %>
    </div>
    <div class="col-md-1"> 
      
    </div>
  </div>
</div>


